.catalog {
  width: 270px;

  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 25px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
}

.catalog__item {
  margin-bottom: 30px;
}

.catalog__item:nth-child(n+6) {
  display: none;
}

@media (min-width: @desktop-width) {
  .main__content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1170px;

    margin: 0 auto;
  }

  .catalog {
    width: 870px;

    margin-top: 0;
  }

  .catalog__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__item:nth-child(n+6) {
    display: block;
  }

  .catalog__item:last-child {
    display: none;
  }
}
