.filter {
  display: none;
  width: 320px;
  margin: 0 auto;
}

.filter-opened .filter {
  display: block;
}

.filter-opened .page-header,
.filter-opened .breadcrumbs,
.filter-opened .top-filters,
.filter-opened .catalog,
.filter-opened .pagination,
.filter-opened .banner,
.filter-opened .recently-viewed,
.filter-opened .page-footer {
  display: none;
}

.filter__header {
  position: relative;
  padding-top: 18px;
  padding-bottom: 9px;
}

.filter__title {
  font-size: 15px;
  line-height: 17px;
  font-style: normal;
  font-weight: bold;

  color: #48494d;
  text-align: center;

  margin: 0;
}

.filter__head-button {
  position: absolute;
  top: 23px;
  left: 16px;
  width: 14px;
  height: 10px;

  background-color: #ffffff;
  background-image: url("../img/arrow-back.svg");
  background-repeat: no-repeat;

  border: none;

  cursor: pointer;
}

.filter__form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.filter__open-button,
.filter__apply-button,
.filter__extra-options,
.filter__reset-button,
.filter__text-input {
  display: none;
}

.filter__type-list {
  display: flex;
  flex-direction: row;

  width: 288px;

  margin: 0 auto;
  margin-top: 9px;
  margin-bottom: 15px;
}

.filter__type-link {
  display: block;

  width: 144px;
  height: 17px;

  font-size: 15px;
  line-height: 17px;
  font-style: normal;
  font-weight: bold;
  text-align: center;

  padding-top: 9px;
  padding-bottom: 10px;

  border: 1px solid #c4c4c4;

  color: #48494d;
}

.filter__type-item:first-child .filter__type-link {
  border-right: none;
}

.filter__type-item:last-child .filter__type-link:last-child {
  border-left: none;
}

.filter__type-link:hover,
.filter__type-link:focus {
  border-color: #ff7931;
}

.filter__type-link:active {
  background-color: #ff7931;
  color: #ffffff;
}

.filter__type-link--active {
  background-color: #ff7931;
  color: #ffffff;
}

.filter__parameters,
.filter__brands {
  display: none;
  padding-top: 15px;
}

.filter__type-brands--active .filter__brands {
  display: block;
}

.filter__type-parameters--active .filter__parameters {
  display: block;
}

.filter__filedset-title {
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: bold;

  color: #48494d;

  padding: 0;
  margin-left: 26px;
}

.filter__select-list {
  width: 270px;
  height: 38px;
  padding-left: 15px;
  padding-right: 20px;
  border: 1px solid #c4c4c4;
  margin-top: 15px;
  margin-left: 26px;
}

.filter__checkbox-list--grey {
  width: 220px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-left: 26px;
}

.filter__checkbox-item {
  margin-top: 15px;
}

.filter__checkbox-item--orange {
  position: relative;
  padding-bottom: 6px;
  padding-left: 26px;
  border-bottom: 1px solid #c4c4c4;
}

.filter__checkbox-title {
  width: 100px;

  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  text-align: center;

  color: #48494d;

  margin-top: 15px;
}

.filter__filedset-label {
  font-style: normal;
  font-weight: normal;

  cursor: pointer;
}

.filter__filedset-label--grey {
  display: block;
  width: 100px;

  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #48494d;

  background: #f0f0f4;

  padding-top: 4px;
  padding-bottom: 4px;

  border: 1px solid #f0f0f4;
  border-radius: 50px;
}

.filter__filedset-label--grey:hover,
.filter__filedset-label--grey:focus {
  border-color: #ff7931;
}

.filter__filedset-checkbox:checked + .filter__filedset-label--grey {
  color: #ffffff;
  background-color: #ff7931;
  border-color: #ff7931;
}

.filter__filedset-label--orange {
  position: initial;

  font-size: 15px;
  line-height: 17px;

  color: #000000;
}

.filter__filedset-label--orange::before {
  content: "";
  position: absolute;
  top: 2px;
  left: initial;
  right: 25px;

  width: 14px;
  height: 14px;

  border: 1px solid #c4c4c4;

  cursor: pointer;
}

.filter__filedset-label--orange::after {
  content: "";

  display: none;

  position: absolute;
  top: 4px;
  left: initial;
  right: 30px;

  width: 4px;
  height: 8px;

  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transform: rotate(45deg);
}

.filter__filedset-label--orange:hover::before,
.filter__filedset-label--orange:focus::before {
  border-color: #ff7931;
}

.filter__filedset-checkbox:checked + .filter__filedset-label--orange::before {
  background-color: #ff7931;
  border-color: #ff7931;
}

.filter__filedset-checkbox:checked + .filter__filedset-label--orange::after {
  display: block;
}

.filter__info-button {
  width: 17px;
  height: 17px;
  background-color: #ffffff;
  background-image: url("../img/question-mark.svg");
  border: none;
  margin-right: 15px;

  cursor: pointer;
}

.filter__show-more-button {
  display: block;
  width: 200px;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  color: #48494d;

  background: #f0f0f4;

  padding-top: 4px;
  padding-bottom: 4px;

  border: 1px solid #f0f0f4;
  border-radius: 3px;

  margin: 0 auto;
  margin-top: 15px;
}

.filter__show-more-button:hover,
.filter__show-more-button:focus {
  border-color: #ff7931;
}

.filter__show-more-button:active {
  color: #ffffff;
  background-color: #ff7931;
  border-color: #ff7931;
}

.filter__range-contols {
  position: relative;
  width: 270px;
  margin: 15px auto;
}

.filter__scale {
  width: 270px;
  height: 3px;

  background-color: #e0e0e0;
}

.filter__bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 3px;
  background-color: #ff7931;
}

.filter__range-toggle {
  position: absolute;
  top: -3px;

  width: 10px;
  height: 10px;

  background-color: #ff7931;
  border-radius: 100%;

  cursor: pointer;
}

.filter__range-toggle--min {
  left: 0;
}

.filter__range-toggle--max {
  right: 0;
}

.filter__price-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 270px;
  margin: 0 auto;
}

.filter__row {
  display: flex;
  flex-direction: row;
}

.filter__range-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: rgba(0, 0, 0, 0.5);

  margin-right: 7px;
}

.filter__range-input {
  max-width: 45px;

  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #000000;

  border: none;
  border-bottom: 1px solid #e0e0e0;
}

@media (min-width: @desktop-width) {
  .filter {
    display: block;
  }

  .filter__header {
    display: none;
  }

  .filter__form {
    width: 290px;
  }

  .filter__type-list {
    margin-top: 0;
  }

  .filter__fieldset-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .filter__open-button {
    position: relative;

    display: block;

    font-size: 16px;
    line-height: 18px;
    font-style: normal;
    font-weight: bold;

    color: #48494d;

    background-color: transparent;

    border: none;

    margin-left: 26px;
  }

  .filter__open-button::before {
    content: "";

    position: absolute;
    top: 2px;
    left: -26px;

    width: 9px;
    height: 9px;

    border-right: 2px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;

    transform: rotate(45deg);
  }

  .filter__filedset-title,
  .filter__checkbox-list--grey {
    margin-left: 0;
  }

  .filter__switch-fieldset .filter__filedset-title {
    display: none;
  }

  .filter__select-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 290px;

    padding-bottom: 9px;

    border-bottom: 1px solid #c4c4c4;
  }

  .filter__select-list {
    width: 110px;
    border: none;
    margin: 0;

    cursor: pointer;
  }

  .filter__brand-list,
  .filter__model-list,
  .filter__country-list {
    width: 225px;
  }

  .filter__checkbox-item--orange {
    display: flex;
    flex-direction: row;
    border-bottom: none;
    width: 70px;
  }

  .filter__checkbox-item--info {
    flex-direction: row-reverse;
    width: auto;
  }

  .filter__info-button {
    margin-right: 0;
    margin-left: 9px;
  }

  .filter__filedset-label--orange::before {
    left: 0;
    right: initial;
  }

  .filter__filedset-label--orange::after {
    left: 5px;
    right: initial;
  }

  .filter__show-more-button {
    width: auto;
    font-size: 14px;
    line-height: 16px;
    text-transform: none;
    text-decoration: underline;

    color: #ff7931;

    background-color: transparent;

    border: none;

    margin: 0;
    margin-top: 15px;

    cursor: pointer;
  }

  .filter__apply-button {
    display: block;

    .mobile-button-grey();
    width: 252px;

    margin: 0;
    margin-bottom: 20px;
  }

  .filter__extra-options {
    display: block;
  }

  .filter__extra-options legend {
    display: none;
  }

  .filter__extra-button {
    position: relative;

    display: block;

    width: 252px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;

    color: #6f6f6f;

    background-color: transparent;
    border: none;

    cursor: pointer;
  }

  .filter__extra-button::after {
    content: "";

    position: absolute;
    top: 0;
    right: 10px;

    width: 9px;
    height: 9px;

    border-right: 2px solid #a4a4a4;
    border-bottom: 2px solid #a4a4a4;

    transform: rotate(45deg);
  }

  .filter__reset-button {
    display: block;

    width: 252px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration: underline;

    color: #bdbec2;

    background-color: transparent;
    border: none;

    cursor: pointer;
  }
}
