.page-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  width: 287px;

  margin: 0 auto;
  margin-top: 30px;
}

.page-header__menu-toggle {
  position: relative;
  background-color: #ffffff;
  border: none;
}

.page-header__menu-toggle::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 33px;
  height: 3px;

  background-color: #c4c4c4;
  border-radius: 3px;
  box-shadow: 0 9px #c4c4c4, 0 18px #c4c4c4;
}

.menu {
  display: none;
}

.user-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 104px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
