.popular-items {
  margin-top: 40px;
  margin-bottom: 40px;
}

.popular-items__container {
  width: 270px;

  margin: 0 auto;
}

.popular-items__title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #48494d;

  margin: 0;
  margin-bottom: 25px;
}

.popular-items__slider {
  position: relative;
}

.popular-items__slider-item {
  display: none;
}

.popular-items__switchers {
  position: absolute;
  bottom: -25px;
  left: 92px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 86px;
}

.popular-items__switch {
  position: relative;
}

.popular-items__switch::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 14px;
  height: 14px;

  background-color: rgba(0, 0, 0, 0.2);

  border-radius: 100%;

  cursor: pointer;
}

.popular-items__switch::after {
  content: "";

  display: none;

  position: absolute;
  top: 0;
  left: 0;

  width: 14px;
  height: 14px;

  background-color: #ff7931;

  border-radius: 100%;

  cursor: pointer;
}

.popular-items__button {
  .mobile-button-grey();
}

@media (min-width: @desktop-width) {
  .popular-items__container {
    width: 1170px;
  }

  .popular-items__title {
    text-align: left;
  }

  .popular-items__slider-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .popular-items__slider-item {
    display: block;

    margin-bottom: 35px;
  }

  .popular-items__switchers {
    display: none;
  }

  .popular-items__button {
    margin-left: 459px;
  }
}
