.product__card {
  width: 288px;

  margin: 0 auto;
}

.product__card--mobile .product__rating,
.product__card--mobile .product__tabs,
.product__card--mobile .product__specifications,
.product__card--mobile .product__links {
  display: none;
}

.product__title {
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;

  color: #48494d;
}

.product__code {
  font-size: 15px;
  line-height: 17px;
  font-style: normal;
  font-weight: normal;

  color: #000000;

  opacity: 0.6;
}

.product__price-links {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.product__button {
  width: 288px;
  height: 50px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  color: #ffffff;

  background-color: #ff7931;

  border: none;

  cursor: pointer;
}

.product__button:hover,
.product__button:focus {
  color: rgba(255, 255, 255, 0.6);
}

.product__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.product__link {
  font-size: 15px;
  line-height: 17px;
  font-style: normal;
  font-weight: normal;
  color: #ff7931;

  text-decoration: underline;
  text-decoration-color: rgba(255, 121, 49, 0.2);

  margin-top: 25px;
}
