.promotions {
  margin-top: 15px;
}

.promotions__container {
  width: 320px;

  margin: 0 auto;
}

.promotions__slider {
  position: relative;

  width: 320px;
  height: 164px;

  background: linear-gradient(90deg, rgba(137, 29, 208, 1) 0%, rgba(251, 139, 60, 1) 100%);

  margin-bottom: 25px;
}

.promotions__slide {
  display: none;

  position: absolute;
  top: 63px;
  left: 17px;

  width: 165px;
  height: 45px;

  color: #ffffff;
}

.promotions__slide-title {
  font-size: 29px;
  text-transform: uppercase;
}

.promotions__slide-description {
  font-size: 13px;
  text-transform: lowercase;
}

.promotions__slider-switchers {
  position: absolute;
  bottom: 15px;
  left: 125px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 71px;
}

.promotions__slider-switch {
  position: relative;
}

.promotions__slider-switch::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 6px;
  height: 6px;

  background-color: transparent;

  border: 1px solid #ffffff;
  border-radius: 100%;

  cursor: pointer;
}

.promotions__slider-switch::after {
  content: "";

  display: none;

  position: absolute;
  top: 0;
  left: 0;

  width: 6px;
  height: 6px;

  background-color: #ffffff;

  border: 1px solid #ffffff;
  border-radius: 100%;

  cursor: pointer;
}

.promotion__action {
  position: relative;

  padding-top: 25px;
  padding-bottom: 57px;
}

.action__item {
  position: relative;

  display: none;

  width: 268px;
  height: 395px;

  margin: 0 auto;

  border: 1px solid rgba(0, 0, 0, 0.2);
}

.action__item::before {
  content: "АКЦИЯ";

  position: absolute;
  top: 26px;
  left: -28px;

  width: 79px;
  height: 15px;

  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;

  padding-top: 5px;
  padding-bottom: 5px;

  background: linear-gradient(90deg, rgba(137, 29, 208, 1) 0%, rgba(251, 139, 60, 1) 100%);

  transform: rotate(-90deg);
}

.promotions__action-switchers {
  position: absolute;
  bottom: 37px;
  left: 117px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 86px;
}

.promotions__action-switch {
  position: relative;
}

.promotions__action-switch::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 14px;
  height: 14px;

  background-color: rgba(0, 0, 0, 0.2);

  border-radius: 100%;

  cursor: pointer;
}

.promotions__action-switch::after {
  content: "";

  display: none;

  position: absolute;
  top: 0;
  left: 0;

  width: 14px;
  height: 14px;

  background-color: #ff7931;

  border-radius: 100%;

  cursor: pointer;
}
