.search {
  margin-top: 57px;
  margin-bottom: 40px;
}

.search__top-line {
  padding-left: 16px;

  margin-bottom: 21px;
}

.tabs__list {
  display: flex;
  flex-direction: row;

  overflow: hidden;
}

.tabs__item {
  margin-right: 39px;
}

.tabs__item:last-child {
  margin-right: 0;
}

.search__form {
  position: relative;

  width: 288px;

  margin: 0 auto;
}

.search__input {
  width: 288px;
  height: 50px;

  color: #000000;

  background-color: #f0f0f4;

  padding-left: 10px;

  border: none;
  border-radius: 3px;
}

.search__button {
  position: absolute;
  top: 10px;
  right: 10px;

  border: none;
}
