.slider__control {
  display: none;
}

.control--1:checked ~ .slider__list .slide--1,
.control--2:checked ~ .slider__list .slide--2,
.control--3:checked ~ .slider__list .slide--3,
.control--4:checked ~ .slider__list .slide--4,
.control--5:checked ~ .slider__list .slide--5,
.control--6:checked ~ .slider__list .slide--6 {
  display: block;
}

.control--1:checked ~ .slider__switchers .switch--1::after,
.control--2:checked ~ .slider__switchers .switch--2::after,
.control--3:checked ~ .slider__switchers .switch--3::after,
.control--4:checked ~ .slider__switchers .switch--4::after,
.control--5:checked ~ .slider__switchers .switch--5::after,
.control--6:checked ~ .slider__switchers .switch--6::after {
  display: block;
}

.control--1:checked ~ .slider__arrows--next .next--2::before,
.control--2:checked ~ .slider__arrows--next .next--3::before,
.control--3:checked ~ .slider__arrows--next .next--4::before,
.control--4:checked ~ .slider__arrows--next .next--5::before,
.control--5:checked ~ .slider__arrows--next .next--6::before,
.control--6:checked ~ .slider__arrows--next .next--1::before {
  display: block;
}

.control--1:checked ~ .slider__arrows--next .next--2::after,
.control--2:checked ~ .slider__arrows--next .next--3::after,
.control--3:checked ~ .slider__arrows--next .next--4::after,
.control--4:checked ~ .slider__arrows--next .next--5::after,
.control--5:checked ~ .slider__arrows--next .next--6::after,
.control--6:checked ~ .slider__arrows--next .next--1::after {
  display: block;
}

.control--1:checked ~ .slider__arrows--prev .prev--6::before,
.control--2:checked ~ .slider__arrows--prev .prev--1::before,
.control--3:checked ~ .slider__arrows--prev .prev--2::before,
.control--4:checked ~ .slider__arrows--prev .prev--3::before,
.control--5:checked ~ .slider__arrows--prev .prev--4::before,
.control--6:checked ~ .slider__arrows--prev .prev--5::before {
  display: block;
}

.control--1:checked ~ .slider__arrows--prev .prev--6::after,
.control--2:checked ~ .slider__arrows--prev .prev--1::after,
.control--3:checked ~ .slider__arrows--prev .prev--2::after,
.control--4:checked ~ .slider__arrows--prev .prev--3::after,
.control--5:checked ~ .slider__arrows--prev .prev--4::after,
.control--6:checked ~ .slider__arrows--prev .prev--5::after {
  display: block;
}
