body {
  min-width: @mobile-width;

  font-family: @main-font;
  font-style: normal;
  color: @text-color;

  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  word-wrap: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-opened .main,
.menu-opened .page-header {
  position: static;
  transform: translateX(242px);
}
